.app-bg{
    min-height: 100vh;
    width: 100vw;
    position: relative;
    /* background-color: rgb(43, 43, 43); */
background: linear-gradient(135deg, #1a1625 0%, #2d1b4e 50%, #0f0a1e 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    padding: 0;
    margin: 0;
}


